.wrapper {
  margin-top: 175px;
}

body {
  background-color: lightgray;
}
h1 {
  display: block;
  text-align: center;
  font-size: 60px;
}
input {
  display: block;
  margin: 0 auto;
  width: 400px;
}
.buttons {
  text-align: center;
  padding-top: 35px;
}

.personal_bar {
  height: 20px;
  width: 100%;
  background-color: black;
}

.nav_bar {
  height: 100px;
  width: 100%;
  background-color: white;
  padding-bottom: 1px;
}

.tile_row {
  width: 100%;
}

img.large_ad_tile {
    width: 100%;

}

img.small_ad_tile {
    display: inline;
    width: 32%;
}